body{
    background-image: url("images/background.png");
}


h1{
    color: red;
}

.poop{

    color: red;

}

.navbar{
    border-radius: 0;
    }

.navbar-brand{
    font-family: cursive;
    }


